/* RESPONSIVE GRID SYSTEM =============================================================================  */


/* Table of Contents
==================================================
	#Basic Styles / Colours
	#Typography
		#Links
		#Lists
		#Images
	#Site Styles
		#Logo
		#Menu
		#Buttons
		#Forms
	#Misc
	#Media Queries */
	
	
	
/* ==============================================================================================
	#Basic Styles
================================================================================================= */

	body { 
		margin: 0 auto;
		padding: 0;
		font-size: 100%/1.6; 
		font-family: 'Roboto',Helvetica,Arial,sans-serif; 	
		color: #1E1E1E; 
		text-align: center;
		background: #f9f9f9;
	}
	#wrapper {
		width: 100%;
		position: relative;
		text-align: left;
		background: aqua;
	}
	.container {
		margin: 0px auto;
		max-width: 1000px;
		overflow: auto;
		padding: 0px;
		text-align: left;
		width: 88%; /* 960px / 1024px */
	}

	
/* #Colour classes =============== */
	.blacker { color:rgb(0,0,0); }
	.black { color:#1e1e1e; }
	.teal { color:rgb(22,147,165); } 
	.poached_ivory { color:rgb(216,216,192); } 
	.aglet{ color:#f0f0d8; }
	.white { color:rgb(255,255,255)!important; }

/* #Background Colour classes =============== */
.blacker-bg { background-color:rgb(0,0,0); }
	.black-bg { background-color:#1e1e1e; }
	.brown-bg { background-color:#353230;}
	.dark-brown-bg { background-color:#1E1E1E;}
	.teal-bg { background-color:#00748c; } 
	.poached_ivory-bg { background-color:rgb(216,216,192); } 
	.aglet-bg { background-color:#f0f0d8; }
	.white-bg { background-color:rgb(255,255,255); }



/* ==============================================================================================
	#Typography
================================================================================================= */
	h1, h2, h3, h4, h5, h6 {}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
		font-weight: inherit; 
		text-decoration: none; 
		}
	h1 { 
		font-size: 1.8em; /* 46px / 16px */ 
		font-style: normal;
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 1.3em; /* 50px / 16px */ 
		margin-bottom: 22px;
		}
	h2 { 
		font-size: 1.6em; 
		font-style: normal;
		font-weight: 300;
		line-height: 1.5em; 
		margin-bottom: 10px; 
		}
	h3 { 
		font-size: 1.8em; /* 18px / 16px */ 
		font-style: bold;
		font-weight: 700;
		line-height: 1.3em; /* 22px / 16px */ 
		margin-bottom: 12px; 
		}
	h4 { 
		font-size: 1.2em; /* 10px / 16px */ 
		font-style: normal;
		font-weight: 500;
		line-height: 1.1em; /* 12px / 16px */ 
		text-transform: uppercase;
		margin: 30px 0 15px;
		}
	h5 { 
		font-size: 0.9em; /* 12px / 16px */ 
		font-style: italic;
		font-weight: 700;
		margin-bottom: 10px; 
		}
	h6 { 
		color: gray;
		font-style: oblique;
		font-weight: 500;
		letter-spacing: 2px;
		margin: 5px 0;
		}
	h1 a,h1 a:hover,h3 a,h3 a:hover,h5 a,h5 a:hover {border-bottom: none;}


/* #Extra Header classes =============== */
	.subheader { color: #777; }


/* #Paragraph classes =============== */
	p { 
		font-size: 1.1em; /* 13px / 16px */ 
		font-style: normal;
		font-weight: 300;
		line-height: 1.6em;
		margin: 0 0 20px 0; 
		}
	p a { 
		color: #00748C; 
		text-decoration: none;	
		}
	p img { margin: 0; padding: 1em;}
	p.small { font-size: 80%; }

	em { 
		font-style: italic;
		font-weight: 300;
	}
	strong { 
		font-style: bold;
		font-weight: 700;
	}
	.centre-text {text-align: center;}
	.indent {border-left: 10px solid rgb(239,239,230); padding-left: 20px; }

/* #Links
================================================== */
	a, a:visited { 
		color: #333; 
		border-bottom: 1px dotted #00748c;
		padding: 0 0 0.1px;
		text-decoration: none; 
		outline: 0; 
		}
	a:hover, a:focus { 
		color: rgb(22,147,165);
		border-bottom: 1px dotted rgb(22,147,165);
		
		}
	p a, p a:visited { line-height: inherit; }
	


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }


/* #Blockquote =============== */
	blockquote, blockquote p {
		font-size: 1.1em; 
		font-style: italic;
		font-weight: 500;
		line-height: 1.4em; 
		}
	blockquote { 
		background-image: url(../images/quote-top-black.png); 
		background-repeat: no-repeat;
		margin: 0 20px; 
		padding: 9px 10px 0 10px;
		width: 55%;
		}
	blockquote p {
		border-left: 6px solid rgb(239,239,230);
		color:#333;
		margin-left: 26px;
		padding-left: 20px;
		}
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
	
	.quote-top-black { 
		background-image: url(../images/quote-top-black.png); 
		background-repeat: no-repeat;
		float: left;
		}
	.quote-bottom-black { 
		background-image: url(../images/quote-bottom-black.png); 
		background-repeat: no-repeat;
		float: right;
		height: 17px;
		margin: -30px 0 0;
		width: 23px;		
		}



/* #Images
================================================== */

	img.scale-with-grid {
		border : 0;
		max-width: 100%;
		height: auto; 
		}	
	img.floatleft { float: left; margin: 0 10px 0 0; }
	img.floatright { float: right; margin: 0 0 0 10px; }




/* #Caption =============== */
	figure {
		margin: 0px 0 30px;
		z-index: 60;
		position: relative;
		}
	figcaption {
		background: rgba(239,239,230,0.5);
		border-bottom: 1px dotted #00748c;
		font-style: italic;
		font-weight: 300;
		font-size: 0.9em;
		margin: 0px;
		padding: 8px 6px 8px;
		}
	

/* #Horizontal Rule - hr =============== */
	hr { 
		border: solid #ddd; 
		border-width: 1px 0 0; 
		clear: both; 
		margin: 10px 0 30px; 
		height: 0; 
		}




/* ==============================================================================================
	#Site Styles
================================================================================================= */
.wrapper{}
.content{ padding: 10px; }


/* #SECTION: Header =============== */
	header {
	background: rgb(255,255,255);
	border-bottom: 1px solid #ddd;
	margin-top: 0px;
	padding: 16px 0 10px;
	position: fixed;
	z-index: 100;
	}
	
	#main {
/* 	border-top: 5px solid rgb(249,246,241); */
	display: block;
	-webkit-box-shadow: 5px 8px 6px 6px black;
	-moz-box-shadow: 0 8px 6px 6px black;
	box-shadow: 0 8px 6px 6px black;
	}


/* #Logo =============== */
	.logo {
		text-align: left;
		padding: 0;
	}
	a.logo {
		border-bottom: none;
	    margin:  20px 0px;
	    width: 227px;
	}
	.logotype {margin-left: 10px}


/* #Nav Menu =============== */
	nav {
		font-style: normal;
		font-weight: 300;
		width: 100%;
		}
	
	nav ul{margin: 0 0 0 0;}
	
	nav li {
		display: inline;
		margin-left: 10%;
		width: auto;
		}
		
	nav li:first-child{margin:0;}
	nav li a {text-decoration: none;border: none;}
	nav li a:visited {}
	nav li a:hover {border-bottom: 1px dotted #00748c;}
	nav li.current_page_item, .current_page_parent{ border-bottom: 1px solid #1E1E1E;}
	.children {display: none;}
	
	
/* #SECTION: Introduction & Latest Post =============== */
	#introduction {
		width: 100%;
		margin: 0;
		min-height: 320px;
		padding:0px;
		overflow: auto;
		}
	#introduction h1{
		font-size: 2.5em;
		margin-bottom: 10px;
		}
	#intro-wrapper {
		padding: 130px 0px 100px;
		position: fixed;
		width: 100%;
		}

	.home{background: url(../images/stars.jpg);}
	.intro-text {
		border-top: 1px solid #c9c9c9;
		margin: 0 auto;
		padding-top: 10px;
		width: 49.16%;
		}

	.intro-container p{font-size: 1.3em;}
	#intro-image h1 {
		background-color: rgba(22,147,165,0.3);
		bottom: 15%;
		color: #FFF;
		color: rgba(255,255,255,0.95);
		font-size: 4em;
		left: 0;
		line-height: 1em;
		padding: 25px 0;
		position: absolute;
		right: 0;
		text-align: center;
		text-transform: uppercase;
/* 		text-shadow:0 1px 0 #; */
		}
	#intro-image figure {margin: 0px;}
	#intro-image figcaption {
		background: transparent;
		border: none;
		color: #C8C8C8;
		float: right;
		margin-right: 1%;
		}
	#intro-image img {
		height: auto; 
		margin-top: -65px;
		width: 100%;
		}
	.journal h1{font-size: 1.6em;}
	
	#page-content {
		padding: 80px 0 20px;
		overflow: auto;
		width: 100%;
		}

	#main-content {
		background: #f9f9f9;
		padding: 80px 0 20px;
		position: relative;
		overflow: auto;
		width: 100%;
		z-index: 50;
		}
		
	#latest-post {
		padding: 40px 0 20px;
		overflow: auto;
		width: 100%;
		}
	#latest-post .container {
		overflow: auto;
		padding-bottom: 20px;
		margin-bottom: 60px;
		}
	#latest-post .container:last-child {padding-bottom: 20px;}
	.more-link {
		display: inline-block;
		outline: none;
		cursor: pointer;
		font-size : 0.9em; /* 18 / 16 */
		padding: 0.5em 0.7em;
		margin: 12px 0;
		text-align: center;
		text-decoration: none;
		width: auto;
/* 		text-transform: uppercase; */
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
/*
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
*/
		}
	.more-link:link {
		background:#00748c;
		border: navy;
		color: #fff;
		}
	.more-link:visited { 
		color: #fff;
		}
	.more-link:hover {
		background: #38adb9;
		color: #fff;
		text-decoration: none;
		}
	.more-link:active {
		color: #fff;
		position: relative;
		top: 1px;
		}

	.date {
		margin-top: 8px;
		padding-right: 20px;
		text-align: right;
		
		}
	.date-category {
		border-bottom: 1px solid #dddddd;
		margin-bottom: 19px;
		padding-top: 10px;
		
		}
	ul.tag { margin-top: 20px;}
	ul.tag li {
		display: inline;
	 	font-size: 0.9em;
		font-style: italic;
		font-weight: 300;
	 	letter-spacing: 0.8px;
	 	
		}
	ul.tag li a:link {
		background: rgba(239,239,230,0.5);
		border:none;
	 	padding: 3px 5px;
	 	text-decoration: none;
	 	}
	ul.tag li a:visited {color:;}
	ul.tag li a:hover {text-decoration: none;}

	#date_article {margin-bottom: 120px; }
	#date_article:last-child {
		margin-bottom: 10px; 
		padding: 0 0 60px;
		}


/* #SECTION: Selected Works =============== */
	#selected-works {padding:40px 0 30px;}
	#selected-works h4,
	#selected-works h5,
	#selected-works p {color: #FFF; }
	#selected-works h5 {margin-top: 8px;}



/* #SECTION: Articles/ Single post =============== */
 	.post-container{
		margin: 0px auto;
		max-width: 1000px;
		overflow: auto;
		padding: 0;
		width: 100%;
	}
/* 	.post-container:first-child {padding-top: 40px;}	 */
	
	.post {
		border-left:1px solid #dddddd;
		margin: 0px auto;
		height: inherit;
		overflow: auto;
		padding: 0 0 160px 4em;
		}
	.post-container:last-child .post{padding-bottom: 0px;}	
	
	.article-image img {
		background-color: aqua;
		height: 100%; 
		width: 100%;
		}
	#respond {
		border-top: 1px solid #DDD;
		margin-top: 40px;
		padding-top: 20px;
		}
	
	.navigation {
		margin-bottom: 30px;
		text-align: left;
		width: auto;
		}
	#single-post {
		padding-top: 80px;
		}
	



/* #SECTION: Single post =============== */
	.comment-container {
		border-top: 1px solid #ddd;
		}
	#comments {	padding-top: 110px;}
	.commentlist {}
 
    .commentlist li {
    	position: relative;
        clear:both;
        overflow:hidden;
        list-style-type:none;
        margin-bottom:1.5em;
        padding:0.7335em 10px;
        border-left: 1px solid white;
        }

	.comments-header {
		float: right;
		margin-bottom: 0px;
		padding-top: 110px;
		}
	
	.comment-author {
		display: block;
		font-style: bold;
		font-weight: 700;
		font-size: 1.3em;
		margin-bottom: 20px;
	}
	.comment-date {
		color: #cccccc;
		display: block;
		margin: 10px 0; 
    }
	.comment-text {
		margin-bottom: 40px;
		border-bottom: 1px solid #f3f3f3;
		padding-bottom: 10px;		
	}
	.comment-text p {font-size: 1em;}
 

        /*general comment classes */
	.commentlist .alt {}
	.commentlist .odd{/*background:#eee;*/}
	.commentlist .even{/*background: #fefefe;*/}
		
		/*vcard */
	.commentlist .vcard{margin-left:50px;}
	cite.fn{
		font-weight:700;
		font-style: normal;
		}
	.commentlist a.url{}
	.commentlist time{float:right;}
    .commentlist a{color:white;}
 
 
 	   /*comment reply link */
    .comment-reply-link{
    	text-decoration:none;
        float:right;
        background:white;
        padding:3px 5px;
        color:#999;
        margin-bottom: 10px;
        font-weight:700;
        font-size:0.9em;
        }
        
	.comment-reply-link:hover{
		}

	.comment-reply-link:focus{
		}



/* #SECTION: Portfolio =============== */
	#portfolio p img{padding: 0;}
	.portfolio-image {
	}

	.row-one .portfolio-image {height: 300px;}
	.row-two .portfolio-image {height: 240px;}
	.row-three .portfolio-image {height: 180px;}
	.row-four .portfolio-image {height: 100px;}

	#project #main-content{padding-top: 20px; margin-top: 0;}
	.project {
		background: white;
		border: 1px solid #dddddd;
		margin: 0 auto;
		padding: 40px 0;
		width: 80%;
	}

/* #SECTION: Info & Stats =============== */
	#info {
		border-right: 1px solid #DDD; 
		margin-bottom: 40px;
		
		}
	#info section {}
	#info article, #stats article {
		border-bottom: 1px solid #DDD; 
		margin: 40px 0 0px;
		padding-bottom: 20px;
		width:90%;
		
		}
	#info article:last-child {border:none;}
	#info article h4{margin-top: 2px;}
	#info .wrapper img { margin: 8px 0;}
	.upper {text-transform: uppercase;}
	#stats {
		opacity: 0.06;
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
}
	#stats:hover {opacity: 1;}
	#stats article{border:none;}
	#stats p{font-size:0.9em;}
	.statistic {
		display: block;
		font-size: 5em;
		font-style: normal;
		font-weight: 300;
		line-height: 1em;
		}
	
	
/* #SECTION: 404 Page =============== */
#fourofour p.statistic {font-size: 1.4em !important;}
#fourofour .statistic span {display:block; font-size: 9em; margin: 80px 0;}
#fourofour img {margin-top: 20px;}
		
		
		
	
	
/* #SECTION: Footer =============== */
footer {
	clear: both;
	color: #FFFFFF;
	font-size: 0.8125em; /* 13 / 16 */
	margin: 0 auto;
	padding: 60px 0px 40px 0px;
	position: relative;
	z-index: 20;	
}
footer header { background: transparent;}
footer .container { text-align: center;}
footer .col {margin-left: 0;}
footer h1 {
	display: block;
	font-style: italic;
	font-weight: 300;
	font-size: 1.4em;
	line-height: 1.2em;
	margin-bottom: 10px;
	text-transform: uppercase;
}


/* Social Links - CSS Sprites */

.social-links {
width: 122px; 
height: 30px;
background: url(../images/social-links-sprite.png);
margin: 10px auto; 
padding: 0;
position: relative;

}
.social-links li {
margin: 0; 
padding: 0; 
list-style: none;
position: absolute; 
top: 0;
}

.social-links li, .social-links a {
border: 0;
height: 30px; 
display: block;
}

#twitter {left: 0; width: 30px;}
#linkedin {left: 46px; width: 30px;}
#behance {left: 92px; width: 30px;}

/* hover */
#twitter a:hover {background: transparent url(../images/social-links-sprite.png) 0 -36px no-repeat;	border: 0;}
#linkedin a:hover {background: transparent url(../images/social-links-sprite.png) -46px -36px no-repeat;border: 0;}
#behance a:hover {background: transparent url(../images/social-links-sprite.png) -92px -36px no-repeat;	border: 0;}
    
    
    
    


/* #Forms
================================================== */

form { margin : 0; }

fieldset { 
	margin-bottom : 1.5em; 
	padding : 0; 
	border-width : 0; 
}

legend { 
	*margin-left : -7px; 
	padding : 0; 
	border-width : 0; 
}

label{
	font-weight : normal;
	cursor : pointer;
	display:block;
	margin:10px 0 0 0;
	position:relative;
	top:0;
	left:0;
}

	label.inline{
	display:inline;
	margin:0;
	}
	
	label span{
	color:#666;
	font-size:0.9em;
	}
	
	label span.right{
	position:absolute;
	bottom:0;
	right:1em;
	text-align:right;
	}
	
	label.disabled{
	color:#ccc;
	}


button, 
search,
input, 
select, 
textarea { 
font-size : 100%; 
margin : 0; 
vertical-align : baseline; 
*vertical-align : middle; }

button, input { 
line-height : normal; 
*overflow : visible; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
padding: 0.5em 1em;
margin: 0 0 1em; 0;
cursor : pointer; 
}

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
	box-sizing : content-box;
}

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0;  }

	input{
		background: rgba(239,239,230,0.5);
		border:1px solid #DDD;
		display:block;
		font-size:1em;
		margin:0 0 20px 0;
		padding:7px 5px;
		width:97%;
		
		/* border-radius */
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		/* shadow */
		-moz-box-shadow:inset 0px 0px 6px #DDD;
		-webkit-box-shadow:inset 0px 1px 6px #DDD;
		box-shadow:inset 0px 1px 6px #DDD;
		}

	input::-webkit-input-placeholder,
	input:-moz-placeholder,
	.placeholder{
	color:#bbb;
	}
	
	input::-moz-focus-inner {border:0;}

	input[disabled="disabled"], input.disabled{
	color:#999;
	background:#f5f5f5;
	-moz-box-shadow:inset 0px 0px 2px #ddd;
	-webkit-box-shadow:inset 0px 1px 2px #ddd;
	box-shadow:inset 0px 1px 2px #ddd;
	}
	
	textarea{
		background: rgba(239,239,230,0.5);
		border:1px solid #ccc;
		height:200px;
		font-size:1em;
		margin:0 0 20px 0;
		overflow : auto; 
		padding:5px;
		vertical-align : top;
		width: 97%;
		
		/* border-radius */
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		/* shadow */
		-moz-box-shadow:inset 0px 0px 6px #DDD;
		-webkit-box-shadow:inset 0px 1px 6px #DDD;
		box-shadow:inset 0px 1px 6px #DDD;

		}

	#submit {
		background:#00748c;
		border: none;
		color: #fff;
		display: inline-block;
		outline: none;
		cursor: pointer;
		font-family: 'Roboto-Light', Helvetica, sans-serif;
		font-size : 1.1em; /* 18 / 16 */
		padding: 0.8em 1.8em;
		margin: 6px 0 16px;
		text-align: center;
		text-decoration: none;
		width: auto;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow:none
/* 		text-transform: uppercase; */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
/*
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
*/
		}
	#submit:link {
		color: #fff;
		}
	#submit:visited { 
		color: #fff;
		}
	#submit:hover {
		background: #38adb9;
		color: #fff;
		text-decoration: none;
		}
	#submit:active {
		color: #fff;
		position: relative;
		top: 1px;
		}
	input:focus, textarea:focus{background: rgba(240,240,216,0.4);}
	
	
	
/* Colors for form validity */
input:valid, 
textarea:valid   {  
/* Styles */ }

input:invalid, 
textarea:invalid {
-webkit-box-shadow : 0 0 2px #f00; 
-moz-box-shadow : 0 0 2px #f00;
box-shadow : 0 0 2px #f00; }

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {
background-color : #ccc; }



/*  CODE  ============================================================================= */

pre.code {
	padding: 0;
	margin: 0;
	font-family: monospace;
	white-space: pre-wrap;
	font-size: 1.1em;
}

strong.code {
	font-weight: normal;
	font-family: monospace;
	font-size: 1.2em;
}


/*  NOTES  ============================================================================= */


.note {
	position:relative;
	padding:1em 1.5em;
	margin: 0 0 1em 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	overflow:hidden;
}

.note:before {
	content:"";
	position:absolute;
	top:0;
	right:0;
	border-width:0 16px 16px 0;
	border-style:solid;
	border-color:transparent transparent #cccccc #cccccc;
	background:#cccccc;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	display:block; width:0; /* Firefox 3.0 damage limitation */
}

.note.rounded {
	-webkit-border-radius:5px 0 5px 5px;
	-moz-border-radius:5px 0 5px 5px;
	border-radius:5px 0 5px 5px;
}

.note.rounded:before {
	border-width:8px;
	border-color:#ff #ff transparent transparent;
	background: url(/images/bodyback.png);
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius:0 0 0 5px;
	border-radius:0 0 0 5px;
}

/*  SCREENS  ============================================================================= */

.siteimage {
	max-width: 90%;
	padding: 5%;
	margin: 0 0 1em 0;
	background: transparent url(/images/stripe-bg.png);
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.siteimage:hover {
	background: #bbb url(/images/stripe-bg.png);
	position: relative;
	top: -2px;
	
}

/*  COLUMNS  ============================================================================= */

.twocolumns{
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	column-count: 2;
	column-gap: 2em;
  }


/*  BUTTONS  ============================================================================= */

	.button {
		display: inline-block;
		outline: none;
		cursor: pointer;
		font-size : 1.1em; /* 18 / 16 */
		padding: 0.8em 1.8em;
		margin: 12px 0;
		text-align: center;
		text-decoration: none;
		width: auto;
/* 		text-transform: uppercase; */
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
/*
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
*/
					
		}
		
	.poached_ivory:link {
		background: rgb(216,216,192);
		color: #000;
		}
	.poached_ivory:visited { 
		color: #000;
		}
	.poached_ivory:hover {
		background: rgb(239,239,230);
		color: #000;
		text-decoration: none;
		}
	.poached_ivory:active {
		color: #fff;
		position: relative;
		top: 1px;
		}

	.teal:link {
		background:#00748c;
		color: #fff;
		}
	.teal:visited { 
		color: #fff;
		}
	.teal:hover {
		background: #38adb9;
		color: #fff;
		text-decoration: none;
		}
	.teal:active {
		color: #fff;
		position: relative;
		top: 1px;
		}

/*  MEDIA OBJECTS ============================================================================= */
@media only screen and (max-width: 720px) {

	.page-template-front-page-php #introduction {
		display: none;
	}
	.post {
		border: none;
		padding: 0;
	}
	.date {
		padding: 0;
	}
	.date-category {
		border: 0;
		text-align: left;
		float: left;
	}
	.comments-header {
	float: left;
	}
}



/*  GLOBAL OBJECTS ============================================================================= */

.breaker { clear: both; }

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}



/* VENDOR-SPECIFIC ============================================================================= */

html { 
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : rgb(52,158,219); 
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

.clearfix { 
zoom : 1; }

::-webkit-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::-moz-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
-webkit-appearance : button; }

::-webkit-input-placeholder {
font-size : .875em; 
line-height : 1.4; }

input:-moz-placeholder { 
font-size : .875em; 
line-height : 1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode : bicubic; }

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
-webkit-box-sizing : content-box;
-moz-box-sizing : content-box; }

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0; }

p {
/* http://www.w3.org/TR/css3-text/#hyphenation */
-webkit-hyphens : auto;
-webkit-hyphenate-character : "\2010";
-webkit-hyphenate-limit-after : 1;
-webkit-hyphenate-limit-before : 3;
-moz-hyphens : auto; }
